body{
	background: white;
}
.select-box{
    display: flex;
    justify-content: center;
    background-color: #131921;
    padding: 15px;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
}
.icon{
    padding: 10px 15px;
    background-color:#ffc107;
    cursor: pointer;
}
.fa-solid{
    font-size: 18px;
}
#search-box{
    width: 100%;
    flex-basis: 100%;
    padding: 10px;
    outline: none;
    border: none;
}

.dropbtn {
    background-color: #f3f3f3;
    color: black;
    display: flex;
    gap: 10px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
    color: white;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
    max-width: 200px;
  }
  
  .dropdown-content {
    display: none;
    width: 200px;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.search{
    padding: 8px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffc107;
    border: 2px solid grey;
}
.cart{
	margin: 20px auto;
	background-color: #00000047;
	padding: 40px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    max-width: 800px;

}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.overall{
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: end;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 20px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
	flex-wrap: nowrap;
}
.status{
	text-align: right;
}
.status h5{
	text-align: right;
    padding-right: 0px;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}